.about {
  display: flex;
  box-sizing: border-box;
  gap: 56px;
  max-width: 1440px;
  padding: 80px 216px 80px 104px;
}

.about__img {
  width: 464px;
  height: 464px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.about__heading {
  font-family: roboto-slab, roboto, "Noto Serif", Georgia, serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.1;
}

.about__paragraph {
  font-family: roboto, "Noto Serif", Georgia, serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
}

@media screen and (max-width: 1300px) {
  .about {
    padding: 80px;
  }

  .about__img {
    height: 400px;
    width: 400px;
  }
}

@media screen and (max-width: 1100px) {
  .about {
    padding: 40px;
    gap: 40px;
  }

  .about__img {
    align-self: center;
  }

  .about__heading {
    font-size: 30px;
    line-height: 1.3;
  }
}

@media screen and (max-width: 800px) {
  .about {
    gap: 30px;
  }

  .about__img {
    height: 232px;
    width: 232px;
  }
}

@media screen and (max-width: 700px) {
  .about {
    flex-direction: column;
    gap: 24px;
    padding: 32px 16px 128px 16px;
  }

  .about__img {
    height: 272px;
    width: 272px;
  }
}
