.footer {
  font-family: roboto, "Noto Serif", Georgia, serif;
  max-width: 1440px;
  width: 100%;
  padding: 32px 104px 26px 104px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.footer__paragraph {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #b6bcbf;
  align-self: center;
}

.footer__links {
  display: flex;
  gap: 25px;
}

.footer__link {
  /* For the z-index */
  position: relative;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  text-decoration: none;
  color: #1a1b22;
  cursor: pointer;
  /* Priority over MobileMenu overlay */
  z-index: 2;
}

.footer__link:first-of-type {
  margin-right: 15px;
}

.footer__link-icon {
  height: 20px;
  width: 20px;
}

@media screen and (max-width: 1100px) {
  .footer {
    padding: 0 40px 26px 40px;
  }
}

@media screen and (max-width: 640px) {
  .footer {
    flex-direction: column-reverse;
    gap: 38px;
    padding: 0 16px 26px 16px;
  }

  .footer__paragraph {
    align-self: flex-start;
  }

  .footer__links {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .footer__text {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
