.mobile-nav {
  position: relative;
  font-family: roboto, "Noto Serif", Georgia, serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 3.1;
}

.mobile-nav__dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 16px;
  background-color: #1a1b22;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 230px;
  /* Priority over the overlay */
  z-index: 1;
  /* Keeps the content hidden before and as the menu opens rather than instant. */
  overflow: hidden;
  /* Start hidden above. Negative y axis means up in CSS. -100% to the buttom of the navbar + the height of the navbar.*/
  transform: translateY(-165%);
  transition: transform 0.4s ease-in-out;
}

.mobile-nav__dropdown_open {
  /* 0% above, (right below) the navbar when opened. */
  transform: translateY(0);
}

.mobile-nav__overlay {
  position: fixed;
  top: 65px;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: background-color 0.4s ease-in-out;
}

.mobile-nav__overlay_active {
  background-color: rgba(0, 0, 0, 0.5);
}
