.nav {
  font-family: roboto, "Noto Serif", Georgia, serif;
  max-width: 1440px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #ffffff33;
  padding: 0 104px;
  box-sizing: border-box;
}

.nav__logo {
  font-family: roboto-slab, roboto, "Noto Serif", Georgia, serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  color: white;
  margin: 30px 0 0 0;
  padding: 0;
  text-decoration: none;
}

.nav__logo_saved-view {
  color: black;
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__home-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  color: black;
  text-decoration: none;
  padding: 0 10px 26px 10px;
  margin: 30px 0 0 0;
  border-bottom: 3px solid transparent;
  transition: 0.2s ease-out;
}

.nav__home-link:hover {
  transition: 0.1s ease-in;
  border-bottom: 3px solid #2f71e5;
}

.nav__home-link_active {
  color: white;
  border-bottom: 3px solid white;
}

.nav__signin-btn {
  width: 176px;
  height: 48px;
  border: 1px solid white;
  border-radius: 100px;
  background: transparent;
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  margin: 19px 0 13px 42px;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.nav__signin-btn:hover {
  transition: 0.1s ease-in;
  color: #2f71e5;
  border-color: #2f71e5;
}

.nav__saved-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  color: #b6bcbf;
  text-decoration: none;
  margin: 30px 32px 0 44px;
  padding: 0 23px 26px;
  border-bottom: 3px solid transparent;
  transition: 0.2s ease-out;
}

.nav__saved-link:hover {
  transition: 0.1s ease-in;
  border-bottom: 3px solid #2f71e5;
}

.nav__saved-link_active {
  color: black;
  border-bottom: 3px solid black;
}

.nav__signout-btn {
  width: 112px;
  height: 48px;
  margin: 0 0 0 0;
  border: 1px solid white;
  border-radius: 100px;
  background: transparent;
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.nav__signout-btn:hover {
  /* Though the blue icon is swapped instantly, I still think the smooth transition,
     albiet very brief is a nice touch. And I don't think you can tell the difference between the icon and the button. */
  transition: 0.1s ease-in;
  color: #2f71e5;
  border-color: #2f71e5;
}

.nav__signout-btn_saved {
  color: black;
  border: 1px solid black;
}

.nav__signout-content {
  display: flex;
  justify-content: space-around;
}

.nav__signout-text {
  margin: 0;
  padding: 0;
  display: inline;
}

.nav__mobile-btn {
  display: none;
  background: none;
  border: none;
  height: 24px;
  width: 24px;
}

@media screen and (max-width: 800px) {
  .nav {
    height: 66px;
    padding: 0 40px;
  }

  .nav__logo {
    margin: 23px 0 18px 0;
  }

  .nav__home-link {
    font-size: 16px;
    line-height: 1.3;
    padding: 0 8px 17px 8px;
    margin-top: 22px;
  }

  .nav__signin-btn {
    width: 152px;
    height: 40px;
    margin: 14px 0 12px 16px;
  }

  .nav__saved-link {
    margin: 22px 16px 0;
    padding-bottom: 17px;
  }

  .nav__signout-btn {
    width: 100px;
    height: 40px;
  }
}

@media screen and (max-width: 589px) {
  .nav {
    padding: 0 16px;
  }

  .nav__links {
    display: none;
  }

  .nav__logo {
    font-size: 16px;
    line-height: 1.2;
    margin: 16px 0;
    align-self: center;
  }

  .nav__mobile-btn {
    display: block;
    margin: 16px 1px 0;
  }
}
