.nav {
  font-family: roboto, "Noto Serif", Georgia, serif;
  max-width: 1440px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #ffffff33;
  padding: 0 104px;
  box-sizing: border-box;
  transition: background-color 0.2s ease-in-out;
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__mobile-btn {
  display: none;
  background: none;
  border: none;
  height: 24px;
  width: 24px;
}

@media screen and (max-width: 800px) {
  .nav {
    height: 66px;
    padding: 0 40px;
  }
}

@media screen and (max-width: 589px) {
  .nav {
    padding: 0 20px;
  }

  /* The menu drops and I make the border slightly more visible. */
  .nav_type_mobile {
    background-color: #1a1b22;
    border-bottom: 3px solid #ffffff33;
  }

  .nav__links {
    display: none;
  }

  .nav__mobile-btn {
    display: block;
    margin: 16px 1px 0;
  }
}
