.news-articles {
  background-color: #f5f6f7;
  /* To make sure the background-color stretches the whole sreen. */
  width: 100%;
  /* To keep the container centered */
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 80px 40px;
}

.news-articles__content {
  max-width: 1232px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.news-articles__header {
  font-family: roboto-slab, roboto, "Noto Serif", Georgia, serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.1;
  margin: 0;
  padding: 0;
}

.news-articles__list {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.news-articles__list-item {
  list-style: none;
}

.news-articles__show-more-btn {
  width: 240px;
  height: 56px;
  border-radius: 50px;
  border: none;
  background-color: white;
  color: #1a1b22;
  font-family: roboto, "Noto Serif", Georgia, serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  cursor: pointer;
  transition: 0.3s ease-out;
  align-self: center;
}

.news-articles__show-more-btn:hover {
  background-color: #e8e8e8;
  transition: 0.2s ease-in;
}

.news-articles__showing {
  align-self: center;
  font-family: roboto-slab, roboto, "Noto Serif", Georgia, serif;
  font-weight: 400;
  color: #b6bcbf;
}

@media screen and (max-width: 1326px) {
  .news-articles__content {
    max-width: 932px;
  }
}

@media screen and (max-width: 1026px) {
  .news-articles {
    padding: 40px;
  }
  .news-articles__content {
    max-width: 689px;
    gap: 32px;
  }
  .news-articles__list {
    gap: 8px;
  }
}

@media screen and (max-width: 782px) {
  .news-articles__content {
    max-width: 456px;
  }
}

@media screen and (max-width: 550px) {
  .news-articles {
    padding: 32px 16px 24px;
  }
}

@media screen and (max-width: 502px) {
  .news-articles__list {
    gap: 15px;
  }
  .news-articles__content {
    max-width: 288px;
  }
  .news-articles__header {
    font-size: 30px;
  }
}
