.news-card {
  width: 400px;
  height: 576px;
  border-radius: 16px;
  background-color: white;
  position: relative;
}

.news-card__link {
  text-decoration: none;
  color: #1a1b22;
}

.news-card__save-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: grab;
}

/* Improvement: Create a sliding animation */
.news-card__save-msg {
  position: absolute;
  background: #1a1b22;
  color: white;
  padding: 11px 20px;
  border-radius: 10px;
  font-size: 12px;
  white-space: nowrap;
  bottom: 2px;
  left: -80px;
  transform: translateX(-50%);
  transition: transform 1s ease-in;
  font-family: roboto, "Noto Serif", Georgia, serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  background-color: white;
  color: black;
}

.news-card__img {
  width: 100%;
  height: 272px;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.news-card__text {
  padding: 20px 24px 24px;
}

.news-card__published-at {
  color: #b6bcbf;
  font-family: "source sans pro", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}

.news-card__title {
  font-family: roboto-slab, roboto, "Noto Serif", Georgia, serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.1;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 2;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.news-card__paragraph {
  font-family: roboto, "Noto Serif", Georgia, serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 4;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.news-card__source {
  color: #b6bcbf;
  font-family: roboto-slab, roboto, "Noto Serif", Georgia, serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1326px) {
  .news-card {
    width: 300px;
    height: 500px;
  }

  .news-card__save-btn {
    top: 18px;
    right: 20px;
  }

  .news-card__img {
    height: 200px;
  }

  .news-card__title {
    line-clamp: 3;
    -webkit-line-clamp: 3;
  }
}

@media screen and (max-width: 1026px) {
  .news-card {
    width: 224px;
    height: 420px;
  }

  .news-card__save-btn {
    top: 12px;
    right: 20px;
  }

  .news-card__img {
    height: 150px;
  }

  .news-card__text {
    padding: 16px;
  }

  .news-card__title {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .news-card__paragraph {
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 502px) {
  .news-card {
    width: 288px;
    height: 444px;
  }
  .news-card__save-btn {
    top: 8px;
    right: 16px;
  }
  .news-card__img {
    height: 196px;
  }
  .news-card__published-at {
    margin-bottom: 10px;
  }
  .news-card__title {
    line-clamp: 2;
    -webkit-line-clamp: 2;
    margin-bottom: 14px;
  }
  .news-card__paragraph {
    margin-bottom: 25px;
  }
}
