.saved-news-header {
  max-width: 1440px;
  width: 100%;
  padding: 40px 0 54px 104px;
  box-sizing: border-box;
  font-family: roboto, "Noto Serif", Georgia, serif;
}

.saved-news-header__paragraph {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  color: #1a1b2280;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
}

.saved-news-header__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-family: roboto-slab, roboto, "Noto Serif", Georgia, serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.3;
  /* To break a line at a particular word, shrink the container. */
  max-width: 400px;
}

.saved-news-header__keywords {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
}

.saved-news-header__keywords_bold {
  font-weight: 700;
}

@media screen and (max-width: 800px) {
  .saved-news-header {
    padding: 24px 0 32px 40px;
  }

  .saved-news-header__paragraph {
    font-size: 14px;
  }

  .saved-news-header__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 390px) {
  .saved-news-header {
    padding: 8px 0 32px 16px;
  }

  .saved-news-header__paragraph {
    margin-bottom: 16px;
  }

  .saved-news-header__title {
    margin-bottom: 50px;
  }
}
