.search-form {
  font-family: roboto, "Noto Serif", Georgia, serif;
}

.search-form__input {
  width: 480px;
  /* The right side padding is to place the clear input 'x' just to the left of the 
  search button and allow you to type your search that far.*/
  padding: 22px 60px 20px 24px;
  border: 1px solid #d1d2d6;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  color: #1a1b22;
}

/* ::pseudo-element | :pseudo-class */
.search-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #b6bcbf;
}

/* Pseudo class for input styles when clicked on. */
.search-form__input:focus {
  outline-color: #2f71e5;
}

.search-form__submit-btn {
  /* Can't use a negative border-radius but you can use a negative margin. */
  margin: 0 0 0 -50px;
  padding: 0;
  width: 168px;
  height: 64px;
  border-radius: 50px;
  border: none;
  background-color: #2f71e5;
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.search-form__submit-btn:hover {
  background-color: #347eff;
  transition: 0.1s ease-in;
}

/* Pseudo class for when the button is clicked. */
.search-form__submit-btn:active {
  background-color: #2a65cc;
}

@media screen and (max-width: 800px) {
  .search-form__input {
    width: 345px;
    padding: 19px 60px 16px 24px;
  }

  .search-form__submit-btn {
    width: 160px;
    height: 56px;
  }
}

@media screen and (max-width: 589px) {
  .search-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
  }

  .search-form__input {
    width: 288px;
    height: 56px;
    border-radius: 50px;
    padding: 17px 10px 17px 16px;
  }

  .search-form__submit-btn {
    width: 288px;
    height: 56px;
  }
}
