.search-form {
  font-family: roboto, "Noto Serif", Georgia, serif;
  position: relative;
}

.search-form__input {
  width: 480px;
  padding: 22px 30px 20px 24px;
  border: 1px solid #d1d2d6;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  color: #1a1b22;
}

/* ::pseudo-element | :pseudo-class */
.search-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #b6bcbf;
}

/* Pseudo class for input styles when clicked on. */
.search-form__input:focus {
  outline-color: #2f71e5;
}

.search-form__clear-btn {
  margin: 0 0 0 -100px;
  padding: 0;
  position: absolute;
  background-color: transparent;
  opacity: 0.5;
  border: none;
  cursor: pointer;
  top: 22px;
  right: 180px;
}

.search-form__submit-btn {
  /* Can't use a negative border-radius but you can use a negative margin. */
  margin: 0 0 0 -50px;
  padding: 0;
  width: 168px;
  height: 64px;
  border-radius: 50px;
  border: none;
  background-color: #2f71e5;
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.search-form__submit-btn:hover {
  background-color: #347eff;
  transition: 0.1s ease-in;
}

/* Pseudo class for when the button is clicked. */
.search-form__submit-btn:active {
  background-color: #2a65cc;
}

@media screen and (max-width: 800px) {
  .search-form__input {
    width: 345px;
    padding: 19px 30px 16px 24px;
  }

  .search-form__clear-btn {
    top: 20px;
  }

  .search-form__clear-btn-icon {
    width: 18px;
    height: 18px;
  }

  .search-form__submit-btn {
    width: 160px;
    height: 56px;
  }
}

@media screen and (max-width: 589px) {
  .search-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
  }

  .search-form__input {
    width: 288px;
    height: 56px;
    border-radius: 50px;
    padding: 17px 1px 17px 16px;
  }

  /* This works in some browsers but not all. Removing the browser clear button. */
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }

  .search-form__clear-btn {
    top: 18px;
    right: 15px;
  }

  .search-form__submit-btn {
    width: 288px;
    height: 56px;
  }
}
